<h3>Search Results</h3>
<ul class='list-unstyled'>
  {{#each}}
    <li><p>{{partial 'game-details'}}</p></li>
  {{else}}
    <li><p class='text-muted'><em>No games matched your search :(</em></p></li>
  {{/each}}
</ul>